/* ============================
   Estilos Globales
============================ */
:root {
    --color-principal: #5b8238; /* Verde Bootstrap */
    --color-secundario: #ffffff;
    --color-terciario: #333;
    --color-fondo: #f8f9fa;
    --color-fondo2: #f5f5f5;
    --color-texto: #212529;
    --color-menu: #ed8d05;
    --colo-hover: #a3c585;

    --fuente-principal: "Roboto", sans-serif;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

/* ============================
   Botones
============================ */

.btn-principal {
    background-color: var(--color-principal);
    color: var(--color-secundario);
    border: none;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.btn-principal:hover {
    background-color: #8fafa0;
}

/* ============================
   Login
============================ */

.login-container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    background: #ffffff;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 420px;
    padding: 2rem;
}

.login-card h3 {
    color: #5b8238;
    font-weight: 700;
    text-align: center;
}

.footer-text {
    text-align: center;
    color: var(--color-terciario);
    margin-top: 15px;
    font-size: 0.9rem;
}

/*logo del login*/

.brand-logo {
    max-width: 180px;
    height: auto;
    display: block;
    margin: 0 auto 1rem auto;
}
/* ============================
   Responsive Login
============================ */
@media (max-width: 576px) {
    .login-card {
        padding: 1rem;
    }

    .login-card {
        padding: 1.2rem;
        border-radius: 0.75rem;
        max-width: 100%;
        box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    }
    .brand-logo {
        max-width: 100px;
        margin-bottom: 0.8rem;
    }

    .login-card h3 {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
    .login-card h4 {
        font-size: 1rem;
        margin-bottom: 0.4rem;
    }
    .login-card h5 {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .form-control-lg {
        font-size: 0.85rem;
        padding: 0.6rem 0.75rem 0.6rem 2.2rem;
    }

    .btn-principal {
        font-size: 0.9rem;
        padding: 0.5rem 0.75rem;
        border-radius: 0.4rem;
    }
    .footer-text {
        font-size: 0.75rem;
        padding: 0.5rem 1rem;
        line-height: 1.2;
    }
}
/* ============================
   Utilidades
============================ */
.text-titulo {
    color: var(--color-principal);
}

/*=============================
Navbar personalizado superior
=============================*/

.custom-navbar {
    background-color: #ffffff !important;
    font-family: Roboto, sans-serif;
}

.navbar-logo {
    height: 60px;
}
.titulo {
    color: var(--color-principal);
}

.navbar .nav-link {
    color: var(--color-principal);
}

.navbar .nav-link:hover {
    color: var(--color-terciario);
}

/*Estilo del imput de busqueda */

.navbar .form-control {
    color: var(--color-terciario);
    border-radius: 50px;
    border-color: var(--color-principal);
    padding: 0.4rem 0.8rem;
}

/* estilo del sirculo con las iniciales menu superior*/

.circulo-redondo {
    background-color: var(--color-principal);
    color: white;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/*=============================
Sidebar lateral
=============================*/

.sidebar {
    width: 200px;
    min-height: 100vh;
    background: var(--color-fondo);
    border-right: 1px solid #dee2e6;
    position: fixed;
    top: 56px;
    left: 0;
    padding-bottom: 2rem;
}
.sidebar .nav-link {
    color: var(--color-terciario);
    font-weight: 500;
    padding: 0.75rem 1rem;
    transition: all 0.3 ease;
    border-radius: 0.5rem;
    margin: 0.25rem 0.5rem;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
    background-color: var(--colo-hover);
    color: var(--color-secundario);
}

/*contenido*/

.con-sidebar {
    margin-left: 240px;
    background-color: #f8f9f8;
}

/*
.content {
    
}
*/
/*notificaciones campana*/

.navbar .badge {
    font-size: 0.6rem;
    padding: 0.3em 0.45em;
}

/* Responsive */

@media (max-width: 992px) {
    .sedebar {
        left: -230px;
    }

    .sidebar.active {
        left: 0;
    }

    #page-cpntent {
        margin-left: 0;
    }
    #toggleSidebar {
        cursor: pointer;
    }
}

@media (max-width: 576px) {
    .navbar-logo {
        height: 32px;
    }

    .navbar .form-control {
        width: 120px;
    }
}

/*=============================
estylos del dashboard vista SST y ADMIN
=============================*/

.stat-card {
    border-radius: 0.8rem;
    transition: trasform 0.2s ease;
}
.stat-card:hover {
    transform: translateY(-3px);
}
/*alertas y actividades */

.list-group-item {
    font-size: 0.9rem;
}
.card-body {
    padding: 6px 6px 6px 4px;
}

/*alertas*/

.alert {
    font-size: 0.8rem;
    border: none;
    border-radius: 0.7rem;
}
.alert:hover {
    transform: translateY(-3px);
}
